.aboutUs-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 24px;
    padding: 3rem;
  }
  
  h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #666;
    line-height: 2;
  }