@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#navbar {
    width: 100%;
    background-color: white;
  }
  #navBrand {
    font-family: 'DynaPuff';
    color: #f30035b0;
    font-family: 'Pacifico', cursive;
  }
  a.nav-link {
    color: rgb(230, 194, 129);
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;  
  }
  .nav-link:hover { color: rgb(232, 55, 238); }