.cardHighlight {
    min-height: 350px;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.54);
-webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.54);
-moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.54);
border: 2px dashed black;
margin-top: -3rem;
}
.toys {
    background-color: aqua;
}
.treats {
    background-color: rgb(255, 248, 155);
}
.gears {
    background-color: rgb(255, 124, 211);
}